# Quad HyperRAM
set_io --warn-no-port hram_dq[0] K3
set_io --warn-no-port hram_dq[1] K4
set_io --warn-no-port hram_dq[2] L1
set_io --warn-no-port hram_dq[3] K5
set_io --warn-no-port hram_dq[4] J3
set_io --warn-no-port hram_dq[5] L3
set_io --warn-no-port hram_dq[6] L4
set_io --warn-no-port hram_dq[7] J5

set_io --warn-no-port hram_rwds J4

set_io --warn-no-port hram_ck L2

set_io --warn-no-port hram_rst_n G9

set_io --warn-no-port hram_cs_n[0] J2
set_io --warn-no-port hram_cs_n[1] K2
set_io --warn-no-port hram_cs_n[2] E11
set_io --warn-no-port hram_cs_n[3] D9

# Single HyperRAM
#set_io --warn-no-port hram_dq[0] 34
#set_io --warn-no-port hram_dq[1] 36
#set_io --warn-no-port hram_dq[2] 46
#set_io --warn-no-port hram_dq[3] 2
#set_io --warn-no-port hram_dq[4] 48
#set_io --warn-no-port hram_dq[5] 28
#set_io --warn-no-port hram_dq[6] 32
#set_io --warn-no-port hram_dq[7] 38
#
#set_io --warn-no-port hram_rwds 47
#
#set_io --warn-no-port hram_ck 42
#
#set_io --warn-no-port hram_rst_n 45
#
#set_io --warn-no-port hram_cs_n[0] 44
#set_io --warn-no-port hram_cs_n[1] 31
#set_io --warn-no-port hram_cs_n[2] 4
#set_io --warn-no-port hram_cs_n[3] 3
